[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django" = "==2.2.22"
"cryptography" = "*"
django-ipware = "*"
django-cors-headers = "*"
uwsgi = "*"
filelock = "*"
django-admin-ip-restrictor = "*"
sentry-sdk = "*"
pylint = "*"
flake8 = "*"
django-csp = "*"
gunicorn = {extras = ["gevent"],version = "*"}
mysqlclient = "==1.3.13"
django-grappelli = "*"
pillow = "*"
requests = "*"
djangorestframework = "*"
drf-yasg = "*"
django-webpack-loader = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
